body {
  font-family: "Montserrat", sans-serif;
}

.weather-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}

.top {
  padding: 30px 12px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

a:hover {
  text-decoration: underline;
}

.unit {
  font-size: 15px;
}

.row.forecast {
  margin: 0 0 0px 0px;
}

.col-1 {
  padding: 0;
}
